---
import Next from "./icons/Next.astro";
import Tailwind from "./icons/Tailwind.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: Next,
  },
  TAILWIND: {
    name: "TailwindCSS",
    class: "bg-white text-[#73bcf6]",
    icon: Tailwind,
  },
};

const projects = [
  {
    title: "App Control de presupuesto",
    description:
      "Esta app te permite definir y administrar un presupuesto, se pueden ir agregando distintos tipos de gastos con distintas categorias",
    img: "/public/administradora-gastos.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Ecommerce Suplementos",
    description:
      "Este es un sitio web muy completo, cuenta con todas las funciones necesarias para un ecommerce, carrito de compras, inicio, contacto, acerca de, pasarelas de pago y mucho mas",
    img: '/ecommerce.suplement.png',
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Cotizador seguros de autos",
    description:
      "Esta applicacion web, permite cotizar el valor de seguro de un vehiculo pudiendo seleccionar 3 distintos factores determinantes",
    img: "/cotizer-cars.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Buscador de noticias",
    description:
      "App que permite obtener datos de una API (NewsAPI) y renderizar noticias de distintas categorias. Se utilizó MUI (Material UI) para el diseño y se implementó el uso de un paginado.",
    img: "/public/last-news.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
];
---

<section class="w-9/12 sm:3/4 md:w-2/4 m-auto mt-28">
  <h2 class="text-gray-300 font-bold text-3xl">{"</>"} Projects</h2>
  <div class="mt-6 grid-col-1 grid lg:grid-cols-2 gap-x-10 gap-y-16">
    {
      projects.map(({img, title, description, tags}) => (
        <article class="mt-4 flex flex-col ">
          <h2 class="text-2xl font-bold text-purple-300 resumenTitle">
            {title}
          </h2>
          <p class="resumenDescription">{description}</p>
          <div class="flex gap-x-2 my-4">
            {tags.map(tag => (
                <p><span class="flex gap-x-2 rounded-full ${tag.class} py-1 px-2 border border-white/10"><tag.icon/>{tag.name}</span></p>
            ))}
          </div>
          <img src={img} alt="image project" />
          <div class="flex gap-x-4 mt-4">
            <a href="#" class="font-bold text-lg text-center bg-pink-700 px-4 rounded-md hover:bg-pink-600">GitHub</a>  
            <a href="#" class="font-bold text-lg text-center bg-purple-400 px-4 rounded-md hover:bg-purple-300">Page</a>  
          </div>
        </article>
      ))
    }
  </div>
</section>

<style>
    .resumenTitle {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }

    .resumenDescription {
      display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
</style>
